<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leonlib | Acerca</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 1030;
        }

        .about-container {
            margin: 0 auto; /* Center the container */
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">leonlib</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books_by_author">Lista por autores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allbooks">Todos los libros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">Acerca de</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contacto</a>
            </li>
            <li th:unless="${loggedIn}" class="nav-item">
                <a class="nav-link" href="/ingresar">Ingresar</a>
            </li>
        </ul>
    </div>
</nav>

<section class="mt-5 mb-5">
    <div class="container about-container">
        <h2>
            Acerca a mi Biblioteca
        </h2>
        <h6>
            Bienvenido a la Biblioteca de <em>Leonardo Gutiérrez Ramírez</em>, un espacio digital donde comparto mi pasión por los libros y la lectura. Con una colección personal de más de 1500 libros,
            este sitio web es un reflejo de años de exploración literaria y amor por el conocimiento.
        </h6>

        <img th:src="@{/assets/images/leonlib-shelfs.jpg}" alt="Bookshelf" class="img-fluid">

    </div>
</section>

<!-- Sticky footer -->
<footer class="footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-6 text-left text-white">
                Libros en la base de datos: <span th:text="${booksCount}">12345</span>
            </div>
            <div class="col-6 text-right text-white">
                <span th:text="'© ' + ${year} + ' leonlib'"></span>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- jQuery UI for Autocomplete -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>

</html>
